*{
    box-sizing: border-box;
}
.last_product{
    background-color: white;
    font-family: "Exo 2";
    padding: 2vw;
    border-radius: 1.25rem;
    text-align: left;
}
h2{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 2vh;
}
section{
    display: flex;
    flex-flow: row wrap;
    align-items:flex-start;
    justify-content: space-between;
}
section article{
    width: 45%;
}
section figure img{
    width:100%
}
article ul li {
    margin-bottom: 0.75vh;
}
h3{
    font-size:1.5rem;
    font-weight: 800;
}
h5{
    font-size:1rem;
    font-weight: 600; 
}
.home p{
    word-break: break-all;
    white-space: normal;
}
.price{
    text-align: right;
}