*{
    box-sizing: border-box;
}

.list{
    background-color: white;
    font-family: "Exo 2";
    padding: 2vw;
    border-radius: 1.25rem;
    text-align: Left;
    width:100%;
    margin:2vw
}
h2{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 2vh;
}
:last-child td,
:last-child th{
    font-family: "Exo 2";
    box-shadow: none;
}
:last-child th{
    font-weight: 600;
}