*{
    box-sizing: border-box;
    font-family: "Exo 2";
}
.menu{
    background-color:rgb(77, 88, 103);
    width:20vw;
    height:320vh;
}
.menu h1{
    font-weight: bolder;
    font-size: 2rem;
}
.menu p{
    font-size:1rem
}
.menu p, 
.menu h1{
    font-family: "Exo 2";
    color:white;
    text-align:left
}
.divider{
    color:white;
}
.menu li{
    padding-left: 0;
}
.menu ul{
    padding:1vw
}