*{
    box-sizing: border-box;
}
section{
    display: flex;
    flex-flow: row wrap;
    align-items:flex-start;
    justify-content: space-between;
    background-color: white;
    font-family: "Exo 2";
    padding: 2vw;
    border-radius: 1.25rem;
    width:50vw;
    text-align: left;
}
h3{
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 2vh;
}
ul li p {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: center;
}