*{
    box-sizing: border-box;
}
body{
    background-color: #E5E5E5;
    font-family: "Exo 2";
}
main form {
    display: flex;
    flex-flow:column wrap;
    justify-content: flex-start;
    align-items: center;
}
h1{
    width: 100%;
    text-align: center;
    padding:6.8vh;
    font-size:2rem;
    font-weight: bold;
    line-height: 2.5rem;
}
#profile_img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 75%;
}
#profile_img figure{
    max-width: 30.5vw;
    max-height: 30.5vw;
    overflow: hidden;
    pointer-events:all;
}
#profile_img img{
    width: 30.5vw;
    z-index:1;
    cursor: pointer;
}
#profile_img input{
    visibility: hidden;
    width:50%
}
#profile_img label p{
    margin-top:1vh;
    font-weight: 600;
    font-size: 1.1rem;

}
#main_section{
    margin:4.5vw
}
#main_section {
    display:flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

[type=date]{
    border:none;
    width:100%;
    background-color: white;
    padding:1vh;
    border-radius:1.25rem;
    appearance: none;
}
form textarea{
    border:none;
    padding:1vh;
    border-radius: 1.25rem;
    width: 100%;
}
form select{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    border:none;
    border-radius:1.25rem;
    padding: 1vh;
    margin:2vh 0vh;  
}
main form ul{
    display: flex;
    flex-flow:row wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 2vh 0;
    width: 100%;
}
form li label{
    background-color: white;
    padding:1.5vh;
    border-radius: 1.25rem;
    color:#4D5867;
    cursor:pointer;
    margin:0 1.2vh 0 0;
}
form li {
    margin:3vh 0 2vh 0;
}
li label:hover{
    background-color:#69E4B9;
    color:white
}

[type=checkbox],
#choice_weights,
#choice_elasticBands,
#choice_mats{
    display:none
}
@media screen and (min-width:361px){
    main form {
        display:flex;
        flex-flow: row-reverse wrap;
        justify-content:center;
        align-items: center;
    }
    #main_section{
        width: 50vw;
    }
    #profile_img{
        display:block;
        margin:4.5vw;
        width:25vw
    }
    #profile_img figure{
        max-width: 25.5vw;
        max-height: 25.5vw;
        overflow: hidden;
    }
    #profile_img img{
        width: 25.5vw;
    }
    
    main form ul li img{
        max-width: 5vw;
    }
}
