footer{
    font-family: "Exo 2";
    background-color: rgb(77, 88, 103);
    display: flex;
    align-items:center;
    justify-content: center;
    margin-top: 2vh;    
}
#footer_content{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
}
#f-block1{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 2vw;
}
#info{
    width: 90%;
}
#info ul li {
    line-height: 1.8rem; 
}
#info ul li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;    
}
#f-media{
    width: 10%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
#f-media #vl{  
    height: 7vh;  
    border-left: 0.5px solid whitesmoke;
}
#f-media #social-media{ 
    font-size: 1rem;
    color: white;
    line-height: 1.8;
}
#f-block2{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 9px;  
    color: whitesmoke;
    padding: 0.8rem;
}
