main  label,
main  h6{
    margin:2vh 0vh;
}
main  span,
main  h6{
    color:#69E4B9;
}
main h6{
    font-size: 0.7rem;
    text-align: right;
}
main form button,
main button{
    border:none;
    color:white;
    background-color: #69E4B9;
    border-radius: 1.25rem;
    padding:1vh;
    margin:2vh 0vh;
    width:100%;
    cursor:pointer
}
main  input{
    border:none;
    padding:1vh;
    border-radius: 1.25rem;
}
main form p{
    margin:2vh 0vh
}
main form ul{
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-items: center;
}
main form ul img{
    width: 20vw;
}
