*{
    box-sizing: border-box;
}
header{
    font-family: "Exo 2";
    background-color: rgb(77, 88, 103);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    padding:2vw 2vw 0;
}

#block1{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
#half{
    width: 20%;
    margin-top: 0.5rem
}
#block1 form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
} 
#block1 form input{
    font-size: 1rem;
    height: 3vh;
    width: 100%;
    border: none;
    outline: none;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
#block1 form button{
    border: none;
    outline: none;
    height: 3vh;
    font-size: 1rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    cursor: pointer;
}
#icons ul{
    display: flex;
    flex-flow:row wrap;
    align-items: center;
    justify-content: space-around;
}
#icons #cart a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    width: 40%;
    margin-right: 0.5vw;
}
#icons .vl {
    border-left: 0.5px solid whitesmoke;
    height: 2rem;
    margin-right: 7px     
  }
.fa-bars{  
    height: 40%;
    color: white;
    
}
#products{
    margin: auto;
}
#products,
#login,
#full{
    display:none;
}
@media screen and (min-width:761px){
    #header_content{
        max-width: 1200px;
    }
    #full{
        display:block;
        width: 20%;
        margin-top: 0.5rem
    }
    #products,
    #login{
    display:block;
}
    #icons #login a{
        visibility:visible;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;    
        height: 40%;
        color: white;
    } 
    #icons #login a i{
        font-size: 1..2rem;
        margin-right: 5px;
    }
    #icons #login a .text{
        font-size: 0.8rem;
    }
    #products{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #products ul{
        visibility:visible;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;   
    }
    #products ul li a{
        display:flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 1rem;
        color: white; 
        width: 13.5rem;
        height: 2rem;
        transition: all, 0.8s;    
    } 
    #products ul li a:hover{
          background-color:rgb(105, 228, 185) ;
          color:rgb(77, 88, 103)
      }
      .fa-bars,
      #half{
          display:none;
          visibility:hidden;
      }
}




  
  

