*{
    box-sizing: border-box;
}
body{
    background-color:#E5E5E5 ;
    font-family: "Exo 2"
}
#banner_desktop{
    display: none;
}
#banner_mobile{
    display: block;
    width: 100%;
}
#best_seller{
    background-color:#E5E5E5;
}
#best_seller{
   color:white;
   background-color: #4D5867;
   font-weight:700;
   font-size: 1.125rem;
   text-align: center;
   padding: 1vh 0;
   margin-bottom:3vh;
}
#reviews_title{
    color:black;
    font-weight:700;
    font-size: 1.125rem;
    text-align: center;
    padding: 1vh 0;
    margin-top:3vh;
}

@media screen and (min-width:360px){
    #best_seller,
    #reviews_title{
        font-size: 1.5rem;
    }
    #banner_mobile{
        display: none;
    }
    #banner_desktop{
        display: block;
        width: 100%;
    }
}