*{
    box-sizing: border-box;
}
body{
    background-color:#E5E5E5 ;
    font-family: "Exo 2"
}
#banner{
    display: block;
    width: 100%;
    height:25vh;
    margin-bottom:4vh;
}
#best_seller{
    background-color:#E5E5E5;
}
#best_seller{
   color:white;
   background-color: #4D5867;
   font-weight:700;
   font-size: 1.125rem;
   text-align: center;
   padding: 1vh 0;
   margin-bottom:3vh;
}
 .products{
    display:flex;
    flex-flow:row wrap;
    align-items: center;
    justify-content: center;
}
.products article{
    width: 80vw;
    height: 80vw;
}
.products img{
    max-width: 100%;
    max-height: 100%;
}
.products .description{
    visibility: hidden;
    background-color: white;
    padding:2vw;
    color: black;
    font-weight:500;
    font-size: 1.1rem;
}
.products article:hover .description{
    visibility: visible;
}
.description .price{
    padding-top:1.5vw;
    color: #69E4B9;
    font-size: 0.8rem;
}
#reviews_title{
    color:black;
    font-weight:700;
    font-size: 1.125rem;
    text-align: center;
    padding: 1vh 0;
    margin-top:3vh;
}
#reviews{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color:#69E4B9;
    margin-bottom:3vh ;
}
#reviews article{
    width: 80vw;
    padding:2vw;
}
#reviews article section{
    display: flex;
    flex-flow:row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 2vw 2vw 0;
}
#reviews article section h5{
    color: black;
    font-weight:600;
    font-size: 1.1rem;
    width: 60%;
}
#reviews article p{
    font: size 0.8rem;
    text-align:justify;
}
@media screen and (min-width:360px){
    .products article{
        width: 50vw;
        height: 50vw;
    }
    #best_seller,
    #reviews_title{
        font-size: 1.5rem;
    }
    .products .description,
    #reviews article section h5{
        font-size: 1.25rem;
    }
    .description .price,
    #reviews article p{
      font-size: 1.1rem;  
    }
}
@media screen and (min-width:769px){
    .products article{
        width: 24vw;
        height: 24vw;
    }
    #reviews article{
        width: 25vw;
        padding:2vw;
    }
}