*{
    box-sizing: border-box;
}
body{
    background-color: #E5E5E5;
    font-family: "Exo 2";
}
main{
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
}
h1{
    width: 100%;
    text-align: center;
    padding:6vh;
    font-size:2rem;
    font-weight: bold;
    line-height: 2.5rem;
}
#main_section{
    margin:4.5vw;
    width:90%
}
#main_section form{
    display:flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

#main_section a{
    font-size: 0.6rem;
    text-align: center;
    color: black;
    cursor: pointer;    
}
#benefits{
    width: 90%;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}
#benefits h1,
#benefits ul{
    display:none
}
@media screen and (min-width:769px){
    main{
        display: flex;
        flex-flow:row wrap;
        justify-content: space-around;
        align-items: baseline;
    }
    #main_section{
        width: 35vw;
    }
    #benefits{
        width: 50vw;
    }
    #benefits p{
        display: none;
    }
    #benefits h1,
    #benefits ul{
    display:block
    }
    #benefits button{
        width:75%
    }
    #benefits h1{
        text-align: left;
    }
    #main_section h1{
        text-align: left;
        padding:6vh 6vh 6vh 0
    }
    #benefits ul{
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 6vh;
        padding-bottom: 6vh;
    }
    #benefits li{
        text-align: left;
    }
    
}
@media screen and (min-width:769px){
    main{
        display: flex;
        flex-flow:row wrap;
        justify-content: space-around;
        align-items: baseline;
    }
    #main_section{
        width: 35vw;
    }
    #benefits{
        width: 50vw;
    }
    #benefits p{
        display: none;
    }
    #benefits h1,
    #benefits ul{
    display:block
    }
    #benefits button{
        width:75%
    }
    #benefits h1{
        text-align: left;
    }
    #main_section h1{
        text-align: left;
        padding:6vh 6vh 6vh 0
    }
    #benefits ul{
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 6vh;
        padding-bottom: 6vh;
    }
    #benefits li{
        text-align: left;
    }
    
}