*{
    box-sizing: border-box;
}
body{
    background-color:#E5E5E5 ;
    font-family: "Exo 2"
}
#product{
    display: flex;
    flex-flow: column wrap;
    justify-content:space-between;
    padding:8vw;
}
#images{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
#central_img{
    width:80vw;
    height:50vh;
}
#other_img{
    display: flex;
    flex-flow:row wrap;
    width: 80vw;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10vw;
}
#other_img figure{
    width:15vw
}
#other_img img{
    width: 100%;
}
#product  article h3{
    font-size: 2.375rem;
    font-weight: 700;
    padding-bottom: 2vh;
}
#product article #code{
    font-size: 0.8rem;
    font-weight: 200;
    padding-bottom: 2vh;
}
#product article h5{
    font-size: 1rem;
    font-weight: 650;
    padding-bottom: 2vh;
}
#product form ul{
    display: flex;
    flex-flow:row wrap;
    align-items: center;
    margin: 2vh 0;
}
#product label{
    background-color: white;
    padding:1.5vh;
    border-radius: 1.25rem;
    color:#4D5867;
    cursor:pointer;
    margin:0 1.2vh 0 0;
}
#product label:hover{
    background-color:#69E4B9;
    color:white
}
#product label:hover{
    background-color:#69E4B9 ;
    color:white;
}
[type=radio],
[type=checkbox]{
    display:none
}
#product article p{
    font-size:1rem;
    font-weight: 200;
    padding: 2vh 0;
}
#purchase{
    display: flex;
    flex-flow:row wrap;
    align-items:baseline;
    justify-content: space-between;
}
#purchase button{
    width:50%;
    height: 100%;
    background-color:#69E4B9;
    color: white;
    font-weight: bold;
    font-size:1rem;
    padding:0.25rem;
    border: none;
    border-radius: 1.25rem;
}
.reviews_title{
    color:black;
    font-weight:700;
    font-size: 1.125rem;
    text-align: center;
    padding: 1vh 0;
    margin-top:3vh;
}
#reviews{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color:#69E4B9;
    margin-bottom:3vh ;
}
#reviews article{
    width: 80vw;
    padding:2vw;
}
#reviews article section{
    display: flex;
    flex-flow:row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 2vw 2vw 0;
}
#reviews article section h5,
#add form h5{
    color: black;
    font-weight:600;
    font-size: 1.1rem;
    width: 60%;
}
#reviews article p{
    font: size 0.8rem;
    text-align:justify;
}
#add form{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
#add form h5{
    width: 100%;
}
#add form ul{
    width: 100%;
    margin:2vh 0vh;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-items: center;
}
#add form i{
    font-size: 1.4rem;
}
#add form input,
#add form textarea{
    border:none;
    padding:1vh;
    border-radius: 1.25rem;
    width: 100%;
    margin:2vh 0vh;
}
form button{
    border:none;
    color:white;
    background-color: #4D5867;
    border-radius: 1.25rem;
    padding:1vh;
    margin:2vh 0vh;
    width:100%
}
#best_seller{
    background-color:#E5E5E5;
}
#best_seller{
   color:white;
   background-color: #4D5867;
   font-weight:700;
   font-size: 1.125rem;
   text-align: center;
   padding: 1vh;
   margin-bottom:3vh;
}
.products{
    display:flex;
    flex-flow:row wrap;
    align-items: center;
    justify-content: center;
}
.products article{
    width: 80vw;
    height: 80vw;
}
.products img{
    max-width: 100%;
    max-height: 100%;
}
.products .description{
    visibility: hidden;
    background-color: white;
    padding:2vw;
    color: black;
    font-weight:500;
    font-size: 1.1rem;
}
.products article:hover .description{
    visibility: visible;
}
.description .price{
    padding-top:1.5vw;
    color: #69E4B9;
    font-size: 0.8rem;
}
@media screen and (min-width:369px){
    .products article{
        width: 50vw;
        height: 50vw;
    }
    #best_seller,
    #reviews_title{
        font-size: 1.5rem;
    }
    .products .description,
    #reviews article section h5,
    #product article h5,
    #product article p,
    #add form h5,
    #add button,
    #purchase button{
        font-size: 1.25rem;
    }
    .description .price,
    #reviews article p,
    #product article #code{
      font-size: 1.1rem;  
    }
}
@media screen and (min-width:769px){
    #product{
        flex-flow: row wrap;
        justify-content: space-around;
    }
    #images{
        position: relative;
    }
    #central_img {
        width:50vw;
        height:50vh;
    }
    #other_img{
        position:absolute;
        bottom:1.5vh;
        display: flex;
        flex-flow:row wrap;
        width: 50vw;
        align-items: center;
        justify-content: center;
        padding-bottom: 0;
    }
    #other_img figure{
        width:5vw;
        margin:0 1.2vh 0 0 
    }
    #other_img img{
        width: 100%;
    }
    .products article{
        width: 24vw;
        height: 24vw;
    }
    #reviews article:not(#add){
        width: 33vw;
        padding:2vw;
    }
    #add form{
        align-items: center;
    }
    #add form input,
    #add form ul{
        width: 47%;
    }
    #add form input{
        text-align: left;
    }
}