*{
    box-sizing: border-box;
}
body{
    background-color: #E5E5E5;
    font-family: "Exo 2";
}
main{
    display: flex;
    flex-flow:row wrap;
}
#main_section{
    margin:4.5vw
}
h1{
    font-size:2rem;
    font-weight: bold;
    line-height: 2.5rem;
}
h4{
    font-size:1rem;
    line-height: 2rem;
}
.add{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color:#69E4B9;
}
.add h4{
    font-size: 1.25rem;
}
main article form{
    display:flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

main form select{
    border:none;
    background-color: white;
    margin:2vh 0vh;
    padding:1.5vh;
    border-radius:1.25rem;
    appearance: none;
}

#profile_img{
    display:none
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
#form_to_show,
#form_to_show1{
    display: none;
}
#show_form,
#show_form1{
    cursor:pointer
}
@media screen and (min-width:361px){
    main{
        display: flex;
        flex-flow:row wrap;
    }
    #main_section{
        width: 50vw;
    }
    #profile_img{
        display:block;
        margin:4.5vw;
        width:30vw
    }
    #profile_img figure{
        max-width: 30.5vw;
        max-height: 30.5vw;
        overflow: hidden;
    }
    #profile_img img{
        width: 30.5vw;
    }
    main form ul{
        width: 40%;
    }
    .fa-cc-visa,
    .fa-cc-amex,
    .fa-paypal,
    .fa-cc-mastercard{
        font-size: 2rem;
        color: #4d5867;
    }
}