*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
    font-family: Exo 2;
    font-size: 15px;
}
.mainform1{
    margin-left: 100px;
}
.title{
    margin-left: 100px;
    margin-top: 65px;
}
h1.create{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    font-weight: bolder;
    font-family: Exo 2;
    color: black;
    text-align: left;
}
.profile2{
    display: flex;
    width: 250px;
    height: 250px;
    align-self: flex-end;
    justify-content: space-around;
    margin-right: 200px;
}
.shipping{
    color: white;
    border-radius: 5px;
    background-color: #69E4B9;
    padding: 10px;
    font-family: Exo2;
    font-size: 17px;
    border-radius: 20px;
}
.shipping:hover{
    background-color: #0c9464;
}
.button{
    color: white;
    border-radius: 5px;
    background-color: #69E4B9;
    padding: 10px;
    font-family: Exo2;
    font-size: 17px;
    border-radius: 20px;
}
.button:hover{
    background-color: #0c9464;
}
.requiredfields{
    color: #0c9464;
    font-size: 13px;
}
.creditcard{
    color: #0c9464;
    font-family: exo 2;
    font-size: 24px;
}
#City{
    width: 30%;
    height: 2rem
    }
#City:hover {
        background-color: #b8f5df;
       }
#Address{
    width: 30%;
    height: 2rem;
}
#Address:hover {
    background-color: #b8f5df;
   }
#Floor{
    width: 30%;
    height: 2rem;
}
#Floor:hover {
    background-color: #b8f5df;
   }
#zipcode{
    width: 5%;
    height: 2rem;
}
#zipcode:hover {
    background-color: #b8f5df;
   }
#creditcard{
    width: 20%;
    height: 2rem;
}
#creditcard:hover {
    background-color: #b8f5df;
   }
#secode{
    width: 5%;
    height: 2rem;
}
#secode:hover {
    background-color: #b8f5df;
   }
#telephone{
    width: 10%;
    height: 2rem;
}
#telephone:hover {
    background-color: #b8f5df;
   }
.methods{
    display: flex;
    width: 2rem;
    height: 2rem;
    justify-content: 7px;
}
.visa{
    margin-right: 18px;
}
.mastercard{
    margin-right: 18px;
}
.mp{
    margin-right: 18px;
}
#expireMM{
    width: 5%;
    height: 2rem;
}
#expireMM:hover{
    background-color: #b8f5df;
}
#expireYY{
    width: 5%;
    height: 2rem;
}
#expireYY:hover{
    background-color: #b8f5df;
}