*{
    box-sizing: border-box;
    }
    body{
        background-color:#E5E5E5 ;
        font-family: "Exo 2"
    }
    h1{
        width: 100%;
        text-align: left;
        padding:0 0 6vh 0;
        font-size:2rem;
        font-weight: bold;
        line-height: 2.5rem;
    }
    main{
        padding: 10px;    
    }
    table{
        width: 100%;
        border-collapse: collapse;
        align-content: center;
    }
    .cart-info{
        display: flex;
        flex-wrap: wrap;    
    }
    .cart-info p{
        display: none;       
    }
    th{
        visibility: hidden;
        }
    td{
        vertical-align:middle;
        padding: 10px 0px;
        border-bottom: 2px ridge white;     
    }
    .cart-info img{
        width:100%;
    }
    .cart-info figure{
        width:10vw;
    }
    td div{
            padding: 10px; 
        }
    td h3{
        font-size: 1rem;
        font-weight: bold;
    } 
    td p{
        font-size: 12px;
    }
    .cart-info div{
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
        
        position: relative;
    }
    #total-price button{
        border: none;    
        color:white;
        font-size: 1rem;    
        background-color:rgb(105, 228, 185);
        border-radius: 1.5rem;
        margin-top: 1rem;
        padding: 1.5vh;    
    }   
    .cart-info #delete{
    background-color: #E5E5E5;
    padding:0rem;
    color:rgb(77, 88, 103);
    font-size:0.75rem;
    margin-bottom: 0vh;
    margin-top: 7vw;
    }
    .counter{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: space-around;
        width: 22vw;
        height: 1.5rem;    
        background-color:rgb(105, 228, 185);
        border-radius: 1.5rem;
        margin-left: 10px;
    }
    .counter input{
        width: 50%;
        height: 1.5rem;
    }
   
    td i{
        font-size: 0.7rem;
        color: white; 
           
        }    
    td input{
        font-size: 0.7rem;
        width: 1rem;
        height: auto;
        border: none;
        background-color:rgb(105, 228, 185);  
        text-align: center;
        color: white;
    }
    tr .item-price{
        font-size: 0.8rem;
        width: 5rem;
        text-align: right;
        padding-right: 2vw;
    }
    #total-price{
        display: flex;
        flex-flow: column wrap;
        justify-content:flex-end;
        align-items:flex-end;
        padding: 1rem 0;    
    }
    
    #total-price ul{
        display: flex;   
        flex-flow: row; 
        justify-content: flex-end;
        align-items: center;    
        padding: 10px;        
    }
    #total-price ul li{
        padding-left: 1.5rem;
    }
    ul .li-price{
        font-size: 1rem;
        font-weight: bolder;
    }
    #total-price select{
        appearance:none;
        -moz-appearance:none;
        -webkit-appearance:none;
        border:none;
        border-radius:1.25rem;
        padding: 1.5vh;
        margin:2vh 0vh;
        text-align: end;   
    }
    #total_price_data{
        background-color: #E5E5E5;
        text-align: end;
        padding:none;
        width: 5rem;

    }
    .fa-angle-up,
    .fa-angle-down{
        cursor: pointer;
    }
    @media screen and (min-width:369px){
        main{
            padding: 4vw 10vw;    
        }       
        .cart-info p{
            display:block;                   
        }       
        .column1{
            width: 62%;
        }
        
        td input{
            font-size: 1rem;
            width: 1.5rem;
            height: auto;
        }
        tr .item-price{
            font-size: 1.1rem;
            width: 5rem;
        }
        #total-price button{
            font-size: 1rem;
        }
        td a{
            font-size: 1rem;
        }
        td figure{
            display: block;
            width: 25vw;
        }
        th{
            visibility: visible;
            text-align: left;
            padding:0.8vw ;
            color: white;
            background-color: rgb(105, 228, 185);
            font-weight:normal;
            }
    
        .counter{
            width: 12vw;
            height: 2rem;    
        }
        .cart-info #delete{
            margin-top: 10vw;
        }
        #total-price select{
            padding: 1vh;
        }
    }
    @media screen and (min-width:786px){
        .counter{
            width: 6.5vw;
            height: 2rem;    
        }
        .cart-info #delete{
            margin-top: 13vw;
        }
        #total-price select{
            padding: 2vh;
        }
    }    