*{
    box-sizing: border-box;
}
main{
    display: flex;
    flex-flow:column wrap;
    background-color: #E5E5E5;
    font-family: "Exo 2";
    justify-content: center;
    align-items: center;
}
h1{
    width: 100%;
    text-align: center;
    padding:6.8vh;
    font-size:2rem;
    font-weight: bold;
    line-height: 1.5rem;
}
#profile_img form{
    display: flex;
    flex-flow:column wrap;
    justify-content: center;
    align-items: center;
}
#profile_img figure{
    max-width: 30.5vw;
    max-height: 30.5vw;
    overflow: hidden;
    pointer-events: none;
}
#profile_img img{
    position: relative;
    width: 30.5vw;
    z-index:1;
}
#profile_img input{
    width: 30.5vw;
    position:absolute;
}
#main_section{
    margin:4.5vw
}
#main_section form{
    display:flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}
form label,
form h6{
    margin:2vh 0vh;
}
form span,
form h6{
    color:#69E4B9;
}
form h6{
    font-size: 0.7rem;
    text-align: right;
}
form button{
    border:none;
    color:white;
    background-color: #69E4B9;
    border-radius: 1.25rem;
    padding:1vh;
    margin:2vh 0vh;
    width:100%
}
form input{
    border:none;
    padding:1vh;
    border-radius: 1.25rem;
}
[type=date]{
    border:none;
    width:100%;
    background-color: white;
    margin:2vh 0vh;
    padding:1vh;
    border-radius:1.25rem;
    appearance: none;
}
form p{
    margin:2vh 0vh
}
form ul{
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-items: center;
}
form ul img{
    width: 20vw;
}
@media screen and (min-width:361px){
    main{
        display: flex;
        flex-flow:row-reverse wrap;
    }
    #main_section{
        width: 50vw;
    }
    #profile_img{
        display:block;
        margin:4.5vw;
        width:30vw
    }
    #profile_img figure{
        max-width: 30.5vw;
        max-height: 30.5vw;
        overflow: hidden;
    }
    #profile_img img{
        width: 30.5vw;
    }
    form ul{
        width: 50%;
    }
    form ul li img{
        max-width: 5vw;
    }
}
/*body{
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
    font-family: "Exo 2";
    font-size: 15;
}
.button{
    color: black;
    border-radius: 20px;
    background-color: #69E4B9;
    padding: 10px;
    font-family: "Exo2";
    font-size: 17px;
}
.button:hover{
    background-color: #00ffa6;;
}
h6.requiredfields{
    color: #0c9464;
    font-size: 15px;
}
h1.create{
    font-size: 40px;
    font-weight: bolder;
    font-family: Exo 2;
    color: black;
    text-align: center;
}
.profile{
    display: flex;
    width: 200px;
    height: 200px;
    align-self: flex-end;
    justify-content: space-around;
    margin-right: 70px;
}
.addphoto{  
    display: flex;
    align-self: flex-end;
    font-family: "Exo 2";
    font-size: 15;
    margin-right: 50px;
}
.submitphbutton{
    color: black;
    background-color: #69E4B9;
    border-radius: 20px;
}
.submitphbutton:hover{
    background-color: #0c9464;
}
.mainform{
    margin-left: 40px;
}
#Name{
    width: 30%;
    height: 2rem;
}
#Name:hover{
background-color: #b8f5df;
}
#Surname{
    width: 30%;
    height: 2rem;
}
#Surname:hover{
    background-color: #b8f5df;
}
#email{
    width: 30%;
    height: 2rem;
}
#email:hover{
    background-color: #b8f5df;
}
#age{
    width: 30%;
    height: 2rem;
}
#age:hover{
    background-color: #b8f5df;
}
#password{
    width: 30%;
    height: 2rem;
}
#password:hover{
    background-color: #b8f5df;
}
#confirmation{
    width: 30%;
    height: 2rem;
}
#confirmation:hover{
    background-color: #b8f5df;
}*/