*{
    box-sizing: border-box;
}
body{
    background-color: #E5E5E5;
    font-family: "Exo 2";
}
main{
    display: flex;
    flex-flow:column wrap;
    justify-content: center;
    align-items: center;
}
h1{
    width: 100%;
    text-align: center;
    padding:6.8vh;
    font-size:2rem;
    font-weight: bold;
    line-height: 2.5rem;
}
#profile_img form{
    display: flex;
    flex-flow:column wrap;
    justify-content: center;
    align-items: center;
}
#profile_img figure{
    max-width: 30.5vw;
    max-height: 30.5vw;
    overflow: hidden;
    pointer-events:all;
}
#profile_img img{
    position: relative;
    width: 30.5vw;
    z-index:1;
    cursor: pointer;
}
#profile_img input{
    width: 30.5vw;
    position:absolute;
}
#main_section{
    margin:4.5vw
}
#main_section form{
    display:flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}
main form label,
main form h6{
    margin:2vh 0vh;
}
main form span,
main form h6{
    color:#69E4B9;
}
main form h6{
    font-size: 0.7rem;
    text-align: right;
}
main form button{
    border:none;
    color:white;
    background-color: #69E4B9;
    border-radius: 1.25rem;
    padding:1vh;
    margin:2vh 0vh;
    width:100%
}
main form input{
    border:none;
    padding:1vh;
    border-radius: 1.25rem;
}
[type=date]{
    border:none;
    width:100%;
    background-color: white;
    margin:2vh 0vh;
    padding:1vh;
    border-radius:1.25rem;
    appearance: none;
}
main form p{
    margin:2vh 0vh
}
main form ul{
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-items: center;
}
main form ul img{
    width: 20vw;
}
@media screen and (min-width:361px){
    main{
        display: flex;
        flex-flow:row-reverse wrap;
    }
    #main_section{
        width: 50vw;
    }
    #profile_img{
        display:block;
        margin:4.5vw;
        width:30vw
    }
    #profile_img figure{
        max-width: 30.5vw;
        max-height: 30.5vw;
        overflow: hidden;
    }
    #profile_img img{
        width: 30.5vw;
    }
    main form ul{
        width: 50%;
    }
    main form ul li img{
        max-width: 5vw;
    }
}
