<%-include("../includes/head")%>
<body>
<%-include("../includes/header")%>
    <main>
        <h3 id="best_seller">Results</h3>
        <%-include("../includes/list_of_articles")%>
    </main>    
    <%-include("../includes/footer")%>
</body>
</html>