<footer>
    <div id="footer_content">
        <section id="f-block1">
            <nav id="info">
                <ul>
                    <li><a href="Address">Address</a></li>
                    <li><a href="Telephone">Telephone</a></li>
                    <li><a href="Corenergy.co">Corenergy.co</a></li>                            
                </ul>
            </nav> 

            <section id="f-media">
                <div id="vl"></div>
                <nav>
                    <ul id="social-media">
                    <li><i class="fab fa-instagram"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-facebook-square"></i></li>
                    </ul>
                </nav>
            </section>
        </section>
        <section id="f-block2">
            <p>Terms & Conditions</p>
        </section>
    </div>
</footer>
