<header>
    <div id="header_content">
        <section>
            <figure id="full">
                <a href="home"><img src="./images/Logo.svg" alt="Corenergy"></a>
            </figure>
            <figure id="half">
                <a href="home"> <img src="./images/c_logo.svg" alt="Corenergy"></a>
            </figure>
            <form action="" method="GET">
                <input type="text" name="search" placeholder="  Search your products...">
                <button type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <nav id="icons">
                <ul>
                    <li id="cart">
                        <a href="shopping_cart">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </li>
                    <li>
                        <div class="vl"></div>
                    </li>
                    <li class="log_in">
                        <a href="log_in">
                            <i class="fas fa-user-circle"></i>
                        </a>
                    </li>
                    <li class="log_in">
                        <a href="log_in">
                            <p>Log in</p>
                        </a>
                    </li>
                    <li>
                        <i class="fas fa-bars"></i>
                    </li>
                </ul>
            </nav>
        </section>
        <nav id="nav_products">
            <ul>
                <li><a href="weights">Weights</a></li>
                <li><a href="elastic_bands">Elastic Bands</a></li>
                <li><a href="mats">Mats</a></li>
                <li><a href="bars">Bars</a></li>                    
            </ul>            
        </nav>
    </div>
</header>