
<section class="products">
    <% for (let i = 0 ; i < productsShown ; i++){%>
        <article>
            <figure>
                <a href="product_detail.ejs"><img src="./images/test.jpg"></a>
            </figure>
            <section class="description">
                <p>Title</p>
                <p class="price">Price</p>
            </section>
        </article> 
    <%}%>
</section>