    <% for (let i = 0; i<listOfReviews.length; i++){%>
        <article>
            <section>
            <h5><%= listOfReviews[i].titleReview%></h5>
            <% for (let j =0 ; j<listOfReviews[i].stars ;j++){%>
                <i class="fas fa-star"></i>
            <%}%>
            </section>
            <p><%= listOfReviews[i].comments%></p>
        </article>
    <%}%>
