    <% for (let i = 0; i<3; i++){%>
        <article>
            <section>
            <h5>Review title</h5>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i> 
            </section>
            <p>Review itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itself</p>
        </article>
    <%}%>