<%-include("./includes/head")%>
<body>
    <%-include("./includes/header")%>
    <main>
        <h1>Error 404</h1>
        <h3>Please return to the home page and try again later</h3>
    </main>
    <%-include("./includes/footer")%>
</body>
</html>