<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corenergy</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/log_in.css">
    
</head>
<body>
    <header>
        <div id="header_content">
            <section>
                <figure id="full">
                    <a href="home"><img src="./images/Logo.svg" alt="Corenergy"></a>
                </figure>
                <figure id="half">
                    <a href="home"> <img src="./images/c_logo.svg" alt="Corenergy"></a>
                </figure>
                <form action="" method="GET">
                    <input type="text" name="search" placeholder="  Search your products...">
                    <button type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <nav id="icons">
                    <ul>
                        <li id="cart">
                            <a href="shopping_cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </li>
                        <li>
                            <div class="vl"></div>
                        </li>
                        <li class="log_in">
                            <a href="log_in">
                                <i class="fas fa-user-circle"></i>
                            </a>
                        </li>
                        <li class="log_in">
                            <a href="log_in">
                                <p>Log in</p>
                            </a>
                        </li>
                        <li>
                            <i class="fas fa-bars" ></i>
                        </li>
                    </ul>
                </nav>
            </section>
            <nav id="nav_products">
                <ul>
                    <li><a href="Weights">Weights</a></li>
                    <li><a href="Elastic_Bands">Elastic Bands</a></li>
                    <li><a href="Mats">Mats</a></li>
                    <li><a href="Bars">Bars</a></li>                    
                </ul>            
            </nav>
        </div>
    </header>  
    <main>
        <section id="main_section">
            <h1>Log in</h1>
            <form> 
                <label for="Email">Username or E-mail<span>*</span></label>
                <input required type="email" name="Email" id="Email">           
                
                <label for="password">Password<span>*</span></label>
                <input required type="password" name="password" id="password">
                
                <h6 >Required fields*</h6>

                <button class="button" type="submit">Log in</button>
                
            </form>
            <a href="#"><h5 >Forgot password</h5></a>
        </section>
        <section id="benefits">
            <h1>Multiple Benefits</h1>
            <p>New customer?</p>
            <ul>
                <li>Multiple Benefits Multiple BenefitsMultiple Benefits</li>
                <li>Multiple Benefits</li>
                <li>Multiple Benefits</li>
                <li>Multiple Benefits</li>
                <li>Multiple Benefits</li>
            </ul>
            <button><a href="./sing_up">Sing Up</a></button>
        </section>
    </main>
    <footer>
        <div id="footer_content">
            <section id="f-block1">
                <nav id="info">
                    <ul>
                        <li><a href="Address">Address</a></li>
                        <li><a href="Telephone">Telephone</a></li>
                        <li><a href="Corenergy.co">Corenergy.co</a></li>                            
                    </ul>
                </nav> 

                <section id="f-media">
                    <div id="vl"></div>
                    <nav>
                        <ul id="social-media">
                        <li><i class="fab fa-instagram"></i></li>
                        <li><i class="fab fa-twitter"></i></li>
                        <li><i class="fab fa-facebook-square"></i></li>
                        </ul>
                    </nav>
                </section>
            </section>
            <section id="f-block2">
                <p>Terms & Conditions</p>
            </section>
        </div>
    </footer>
</body>
</html>