<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corenergy</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/log_in.css">
</head>
<body>    
<main>
    <section id="main_section">
        <h1>Log in</h1>
        <form> 
            <label for="Email">Username or E-mail<span>*</span></label>
            <input required type="email" name="Email" id="Email">           
            
            <label for="password">Password<span>*</span></label>
            <input required type="password" name="password" id="password">
            
            <h6 >Required fields*</h6>

            <button class="button" type="submit">Log in</button>
        </form>
    </section>
    <section id="benefits">
        <h1>Multiple Benefits</h1>
        <p>New customer?</p>
        <ul>
            <li>Multiple Benefits Multiple BenefitsMultiple Benefits</li>
            <li>Multiple Benefits</li>
            <li>Multiple Benefits</li>
            <li>Multiple Benefits</li>
            <li>Multiple Benefits</li>
        </ul>
        <button><a href="./sing_up">Sing Up</a></button>
    </section>
</main>
</body>
</html>