<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/header.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet">
</head>
<body>
    <main>
    <section>
     <article>
         <section>
         <figure>
             <img src="#">
         </figure>
         </section>
         <section>
             <ul>
                 <li>
                    <figure>
                        <img src="#">
                    </figure>
                 </li>
                 <li>
                    <figure>
                        <img src="#">
                    </figure>
                 </li>
                 <li>
                    <figure>
                        <img src="#">
                    </figure>
                 </li>
                 <li>
                    <figure>
                        <img src="#">
                    </figure>
                 </li>
                 <li>
                    <figure>
                        <img src="#">
                    </figure>
                 </li>
             </ul>
         </section>
     </article>
     <article>
         <h3>Title</h3>
         <p>Product code</p>
         <section>
             <h5>Choice</h5>
            <form>
                <ul>
                    <li>
                        <input type="radio" name="" value="choice">
                    </li>
                    <li>
                        <input type="radio" name="" value="choice">
                    </li>
                    <li>
                        <input type="radio" name="" value="choice">
                    </li>
                    <li>
                        <input type="radio" name="" value="choice">
                    </li>
                    <li>
                        <input type="radio" name="" value="choice">
                    </li>
                </ul>
            </form>
            <p>Product description</p>
            <p>Price</p>
            <button type="submit">Buy</button>
        </section>
     </article>   
    </section>
    <section>
        <h3>Customers who bought this item also bought</h3>
        <article>
            <figure>
                <a href="#"><img src="./images/test.jpg"></a>
            </figure>
            <section class="description">
                <p>Title</p>
                <p>Price</p>
            </section>
        </article>
        <article>
            <figure>
                <a href="#"><img src="./images/test.jpg"></a>
            </figure>
            <section class="description">
                <p>Title</p>
                <p>Price</p>
            </section>
        </article>
        <article>
            <figure>
                <a href="#"><img src="./images/test.jpg"></a>
            </figure>
            <section class="description">
                <p>Title</p>
                <p>Price</p>
            </section>
        </article>
        <article>
            <figure>
                <a href="#"><img src="./images/test.jpg"></a>
            </figure>
            <section class="description">
                <p>Title</p>
                <p>Price</p>
            </section>
        </article>
    </section>
    <section>
        <h3>Reviews</h3>
        <article>
        <h5>Review title</h5>
        <figure>
            <img src="#">
        </figure>
        <div>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i> 
        </div>
        <p>Review itself</p>
        </article>
        <article>
            <h5>Review title</h5>
            <figure>
                <img src="#">
            </figure>
            <div>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i> 
            </div>
            <p>Review itself</p>
            </article>
            <article>
                <h5>Review title</h5>
                <figure>
                    <img src="#">
                </figure>
                <div>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i> 
                </div>
                <p>Review itself</p>
                </article>
    </section>
    </main>
</body>
</html>