<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corenergy</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/product_detail.css">
</head>
<body>
    <main>
    <section id="product">
     <article>
         <section>
         <figure>
             <img src="#" id="central_img">
         </figure>
         </section>
         <section>
             <ul id="other_img">
                 <li>
                    <figure>
                        <img src="#">
                    </figure>
                 </li>
                 <li>
                    <figure>
                        <img src="#">
                    </figure>
                 </li>
                 <li>
                    <figure>
                        <img src="#">
                    </figure>
                 </li>
                 <li>
                    <figure>
                        <img src="#">
                    </figure>
                 </li>
                 <li>
                    <figure>
                        <img src="#">
                    </figure>
                 </li>
             </ul>
         </section>
     </article>
     <article>
         <h3>Title</h3>
         <p id="code">Product code</p>
         <section>
             <h5>Choice</h5>
            <form>
                <ul>
                    <li>
                        <label>1</label>
                        <input type="radio" name="" value="choice">
                    </li>
                    <li>
                        <label>1</label>
                        <input type="radio" name="" value="choice">
                    </li>
                    <li>
                        <label>1</label>
                        <input type="radio" name="" value="choice">
                    </li>
                    <li>
                        <label>1</label>
                        <input type="radio" name="" value="choice">
                    </li>
                    <li>
                        <label>1</label>
                        <input type="radio" name="" value="choice">
                    </li>
                </ul>
            </form>
            <p>Product description</p>
            <div id="purchase">
                <h5>Price</h5>
                <button type="submit">Buy</button>
        </section>
     </article>   
    </section>
    <section>
        <h3 id="reviews_title">Reviews</h3>
        <div id="reviews">
        <article>
            <section>
            <h5>Review title</h5>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i> 
            </section>
            <p>Review itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itself</p>
            </article>
            <article>
                <section>
                <h5>Review title</h5>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i> 
                </section>
                <p>Review itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itself</p>
                </article>
                <article>
                    <section>
                    <h5>Review title</h5>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> 
                    </section>
                    <p>Review itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itself</p>
                    </article>
        </div>
    </section>
    <section id="best_seller">
        <h3>Customers who bought this item also bought</h3>
        <div class="products">
        <article>
            <figure>
                <a href="#"><img src="./images/test.jpg"></a>
            </figure>
            <section class="description">
                <p>Title</p>
                <p class="price">Price</p>
            </section>
        </article>
        <article>
            <figure>
                <a href="#"><img src="./images/test.jpg"></a>
            </figure>
            <section class="description">
                <p>Title</p>
                <p class="price">Price</p>
            </section>
        </article>
        <article>
            <figure>
                <a href="#"><img src="./images/test.jpg"></a>
            </figure>
            <section class="description">
                <p>Title</p>
                <p class="price">Price</p>
            </section>
        </article>
        <article>
            <figure>
                <a href="#"><img src="./images/test.jpg"></a>
            </figure>
            <section class="description">
                <p>Title</p>
                <p class="price">Price</p>
            </section>
        </article>
    </div>
    </section>
    </main>
</body>
</html>