<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corenergy</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/product_detail.css">
</head>
<body>
    <main>
    <section id="product">
     <article id="images">
         <figure>
             <img src="#" id="central_img">
         </figure>
             <ul id="other_img">
                 <li>
                    <figure>
                        <img src="#">
                    </figure>
                 </li>
                 <li>
                    <figure>
                        <img src="#">
                    </figure>
                 </li>
                 <li>
                    <figure>
                        <img src="#">
                    </figure>
                 </li>
                 <li>
                    <figure>
                        <img src="#">
                    </figure>
                 </li>
                 <li>
                    <figure>
                        <img src="#">
                    </figure>
                 </li>
             </ul>
     </article>
     <article>
         <h3>Title</h3>
         <p id="code">Product code</p>
         <section>
             <h5>Choice</h5>
            <form>
                <ul>
                    <li>
                        <label for="choice1">1</label>
                        <input type="radio" name="choice" id="choice1" value="choice1">
                    </li>
                    <li>
                        <label for="choice2">1</label>
                        <input type="radio" name="choice" id="choice2" value="choice2">
                    </li>
                    <li>
                        <label for="choice3">1</label>
                        <input type="radio" name="choice" id="choice3" value="choice3">
                    </li>
                    <li>
                        <label for="choice4">1</label>
                        <input type="radio" name="choice" id="choice4" value="choice4">
                    </li>
                    <li>
                        <label for="choice5">1</label>
                        <input type="radio" name="choice" id="choice5" value="choice5">
                    </li>
                </ul>
            </form>
            <p>Product description</p>
            <div id="purchase">
                <h5>Price</h5>
                <button type="submit">Buy</button>
            </div>
            </section>
     </article>   
    </section>
    <section>
        <h3 id="reviews_title">Reviews</h3>
        <section id="reviews">
            <article>
                <section>
                <h5>Review title</h5>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i> 
                </section>
                <p>Review itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itself</p>
            </article>
            <article>
                    <section>
                    <h5>Review title</h5>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> 
                    </section>
                    <p>Review itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itself</p>
            </article>
            <article>
                        <section>
                        <h5>Review title</h5>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i> 
                        </section>
                        <p>Review itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itselfReview itself</p>
            </article>
        </section>
        <h3 id="best_seller">Customers who bought this item also bought</h3>
        <section class="products">
            <article>
                <figure>
                    <a href="#"><img src="./images/test.jpg"></a>
                </figure>
                <section class="description">
                    <p>Title</p>
                    <p class="price">Price</p>
                </section>
            </article>
            <article>
                <figure>
                    <a href="#"><img src="./images/test.jpg"></a>
                </figure>
                <section class="description">
                    <p>Title</p>
                    <p class="price">Price</p>
                </section>
            </article>
            <article>
                <figure>
                    <a href="#"><img src="./images/test.jpg"></a>
                </figure>
                <section class="description">
                    <p>Title</p>
                    <p class="price">Price</p>
                </section>
            </article>
            <article>
                <figure>
                    <a href="#"><img src="./images/test.jpg"></a>
                </figure>
                <section class="description">
                    <p>Title</p>
                    <p class="price">Price</p>
                </section>
            </article>
        </section>
    </main>
</body>
</html>