<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="header_content">
            <section>
                <figure id="full">
                    <a href="home"><img src="./images/Logo.svg" alt="Corenergy"></a>
                </figure>
                <figure id="half">
                    <a href="home"> <img src="./images/c_logo.svg" alt="Corenergy"></a>
                </figure>
                <form action="" method="GET">
                    <input type="text" name="search" placeholder="  Search your products...">
                    <button type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <nav id="icons">
                    <ul>
                        <li id="cart">
                            <a href="shopping_cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </li>
                        <li>
                            <div class="vl"></div>
                        </li>
                        <li class="log_in">
                            <a href="log_in">
                                <i class="fas fa-user-circle"></i>
                            </a>
                        </li>
                        <li class="log_in">
                            <a href="log_in">
                                <p>Log in</p>
                            </a>
                        </li>
                        <li>
                            <i class="fas fa-bars" ></i>
                        </li>
                    </ul>
                </nav>
            </section>
            <nav id="nav_products">
                <ul>
                    <li><a href="Weights">Weights</a></li>
                    <li><a href="Elastic_Bands">Elastic Bands</a></li>
                    <li><a href="Mats">Mats</a></li>
                    <li><a href="Bars">Bars</a></li>                    
                </ul>            
            </nav>
        </div>
    </header>
    <main>
        <section id="main_section">
            <h1>Name, Surname</h1>
            <h4>E-mail: digital.house@gmail.com</h4>
            <div class="add"><h4>Add shipping address</h4><h4>+</h4></div>
            <article>
                <form class="mainform1" action="" method="POST"> 
                    <label for="City">City<span>*</span></label>
                    <input required type="text" name="City" id="City" >
        
                    <label for="Address">Address<span>*</span></label>
                    <input required type="text" name="Address" id="Address" >
        
                    <label for="Floor">Floor<span>*</span></label>
                    <input required type="text" name="Floor" id="Floor" > 
                    
                    <label for="zipcode">Zip Code<span>*</span></label>
                    <input required type="number" name="zipcode" id="zipcode"  maxlength="4">
                    
                    <label for="telephone">Telephone</label>
                    <input  type="tel" name="telephone" id="telephone" >
                    <h6 >Required fields*</h6>

                    <button class="button" type="submit">Confirm</button>
                </form>
            </article>
            <div class="add"><h4>Add credit card</h4><h4>+</h4></div>
            <article>
                <form action="" method="POST">
                    <label for="creditcard">Credit Card<span>*</span></label>
                    <input required type="number" name="creditcard" id="creditcard"  maxlength="16">

                    <label for="expireMM">Experitation Date<span>*</span></label>
                        <select name='expireMM' id='expireMM'>
                        <option value='' disabled>Month</option>
                        <option value='01'>January</option>
                        <option value='02'>February</option>
                        <option value='03'>March</option>
                        <option value='04'>April</option>
                        <option value='05'>May</option>
                        <option value='06'>June</option>
                        <option value='07'>July</option>
                        <option value='08'>August</option>
                        <option value='09'>September</option>
                        <option value='10'>October</option>
                        <option value='11'>November</option>
                        <option value='12'>December</option>
                    </select> 
                    <select name='expireYY' id='expireYY'>
                        <option value='' disabled>Year</option>
                        <option value='21'>2021</option>
                        <option value='22'>2022</option>
                        <option value='23'>2023</option>
                        <option value='24'>2024</option>
                        <option value='25'>2025</option>
                        <option value='26'>2026</option>
                        <option value='27'>2027</option>
                        <option value='28'>2028</option>
                        <option value='29'>2029</option>
                        <option value='30'>2030</option>
                        <option value='31'>2031</option>
                    </select>

                        <label for="secode">Security Code<span>*</span></label>
                        <input required type="number" name="secode" id="secode" maxlength="4">

                        <p>Online payment methods</p>
                        <ul>
                            <li><figure><img class="visa" src="./images/visa.png" alt="visa"></figure></li>
                            <li><figure><img class="visa" src="./images/visa.png" alt="visa"></figure></li>
                            <li><figure><img class="visa" src="./images/visa.png" alt="visa"></figure></li>
                            <li><figure><img class="visa" src="./images/visa.png" alt="visa"></figure></li>
                        </ul>
                        <h6 >Required fields*</h6>
                        <button class="button" type="submit">Confirm</button>
                </form>
            </article>
        </section>
        <section id="profile_img">
        <figure>
            <img src="./images/profile.jpg" alt="Profile">
        </figure>
        </section>
    </main>
    <footer>
        <div id="footer_content">
            <section id="f-block1">
                <nav id="info">
                    <ul>
                        <li><a href="Address">Address</a></li>
                        <li><a href="Telephone">Telephone</a></li>
                        <li><a href="Corenergy.co">Corenergy.co</a></li>                            
                    </ul>
                </nav> 

                <section id="f-media">
                    <div id="vl"></div>
                    <nav>
                        <ul id="social-media">
                        <li><i class="fab fa-instagram"></i></li>
                        <li><i class="fab fa-twitter"></i></li>
                        <li><i class="fab fa-facebook-square"></i></li>
                        </ul>
                    </nav>
                </section>
            </section>
            <section id="f-block2">
                <p>Terms & Conditions</p>
            </section>
        </div>
    </footer>
</body>
</html>