<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corenergy</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/sing_up.css">
    <title>Document</title>
</head>
<body><h1 class="create">Create an Account</h1><br>
    
    <img class="profile" src="/grupo_9_corEnergy/Corenergy/public/images/profile.jpg" alt="Profile"><br>
    
    <form class="addphoto" action="upload.php" method="post" enctype="multipart/form-data">
        <input type="file" name="file" value="Choose a file">
        <input class="submitphbutton" type="submit" name="submit" value="Upload photo">
    </form>
    
    <form class="mainform"> 
        <h5>Name*</h5>
        <label for="Name"></label>
        <input required type="text" name="Name" id="Name" placeholder="Name...">
        
        <h5>Surname*</h5>
        <label for="Surname"></label>
        <input required type="text" name="Surname" id="Surname" placeholder="Surname...">        
        
        <h5>E-mail*</h5>
        <label for="email"></label>
        <input required type="email" name="email" id="email" placeholder=" john@example.com">
        
        <h5>Age*</h5>
        <label for="age"></label>
        <input required type="date" name="age" id="age" placeholder="Age...">
        
        <h5>Password*</h5>
        <label for="password"></label>
        <input required type="password" name="password" id="password" placeholder="Password...">

        <h5>Confirmation*</h5>
        <label for="confirmation"></label>
        <input required type="password" name="confirmation" id="confirmation" placeholder="Confirmation..."><br><h6 class="requiredfields">Required fields*</h6><br><br>

       <button class="button" type="submit">Sign up</button>
       </form>
    
</body>
</html>